/* @import url('https://fonts.googleapis.com/css2? family= Dancing+Script & family= Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300; 1 500 ; 1 700 & display=swap'); */

html{
    max-width: 100vw;
    box-sizing: border-box;
    scroll-behavior: smooth;  
    font-size: 62.5%;
}

body{ 
    margin: 0;
    padding: 0 10px;
    height: 100vh;
    font-size: 1.6rem; 
    display: flex  ;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); 
}

header{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 75%;
}

h1{
    text-align: center;
    font-family: 'roboto', sans-serif; 
}

h2{
    font-family: 'roboto', sans-serif;
}

main {    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto  ;
}

header button{
        appearance: none;
        min-width: 130px;
        height: 40px;
        color: #fff;
        padding: 5px 10px;
        margin-top: 30px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        outline: none;
        border-radius: 5px;
        border: none;
        box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
        background: #a3a7ab;
}

header button:hover{
    background-color: #701919;
    cursor: pointer;
    width: 100%;
    left: 0;
   }

    
header button:active {
    top: 2px;
}


/* ******************************************** ID ***************************************** */

#container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto ;
}



#faireProposition{
    padding: 1rem;
    margin: 5px 135px 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 5px 10px 1px rgba(0,0,0,0.75);
    font-family: 'dancing script', Arial, Helvetica, sans-serif;
    cursor: pointer;
    font-size: 16px;
}

/* ********************************************** CLASSES ****************************** */

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}



.motCacher{
    margin-left: 30px;
    font-size: 50px;
}

.mot{
    text-align: center;
    padding-top: 20px;
    align-self: center;
}

.motTrouver{
    font-weight: bold;
    text-align: right;
    padding-top: 20px;
    align-self: center;
    font-size: 50px;
    color:rgb(30, 139, 30);
    text-shadow: 5px 3px 5px black;

}

.images{
    background-size : cover; 
    background-position: center;
    transition : all 1s ;
    height: 110%;
}

.gameWin {
    background-image: url('images/gameWin.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 2s;
  }

.keyboard{
    text-align: center;
    margin: 0 auto;
    padding: 15px;
    border : 1px solid rgb(147, 140, 140);
    border-radius: 5px;
    box-shadow: 1px 5px 10px 1px rgba(0,0,0,0.75);
}
.keyboard button{
    padding: 15px;
    margin: 5px 15px; 
    font-family: 'dancing script', Arial, Helvetica, sans-serif; 
     box-shadow:inset 1px 1px 5px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

.keyboard button:hover {
    background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}

.keyboard button:disabled {
    /* color: transparent; */
    box-shadow: none;
    background: none; 
}

/* *********************** FOOTER *********************************** */
footer{
    display: flex; 
}
.flex-center {
  align-items: center;
  justify-content: center;
}